<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Strona startowa</title>
</head>
<body>

<div class="alert alert-primary" role="alert">
    Aby się zarejestrować <a href="/rejestracja" class="alert-link">kliknij tutaj</a>.
</div>
<div class="alert alert-success" role="alert">
    Aby się zalogować <a href="/login" class="alert-link">kliknij tutaj</a>.
</div>

</body>
</html>